{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
   
  

   <div class ="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
   <div class="col-lg-8"> 
   <div class="card">
  <div class="card-body">
              <h5 class="card-title">EVENTS LIST</h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                     <th>Nom_event</th>
                <th>Type_event</th>
                <th>Nbre_salle</th>
                <th>Date_deb</th>
                <th>Date_fin</th>
                <th>Nbr_participants</th>
                <th>show</th>
                <th>edit</th>
                  </tr>
                </thead>
                <tbody>
                 {% for event in events %}
            <tr>
                <td>{{ event.nomEvent }}</td>
                <td>{{ event.typeEvent }}</td>
                <td>{{ event.nbreSalle }}</td>
                <td>{{ event.dateDeb ? event.dateDeb|date('Y-m-d') : '' }}</td>
                <td>{{ event.dateFin ? event.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ event.nbrParticipants }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_event_show', {'nom_event': event.nomEvent}) }}">show</a>
                    </td>
                    <td>

                    <a class="btn btn-danger" href="{{ path('app_event_edit', {'nom_event': event.nomEvent}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        

        {% endfor %}
                </tbody>
              </table>
      <a href="{{ path('app_event_new') }}">Create new</a>
      <form action="{{ path('app_event_index') }}" method="get">
    <button type="submit" name="sort_by_nom_event" value="1">Trier</button>
    <a href="{{ path('app_event_index') }}">return</a>
</form>

            </div>
    </div>
    </div>
 </div>
     
  
   {% endblock %}
