{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEvent</th>
                <td>{{ event.idEvent }}</td>
            </tr>
            <tr>
                <th>NomEvent</th>
                <td>{{ event.nomEvent }}</td>
            </tr>
            <tr>
                <th>TypeEvent</th>
                <td>{{ event.typeEvent }}</td>
            </tr>
            <tr>
                <th>NbreSalle</th>
                <td>{{ event.nbreSalle }}</td>
            </tr>
            <tr>
                <th>DateDeb</th>
                <td>{{ event.dateDeb ? event.dateDeb|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ event.dateFin ? event.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NbrParticipants</th>
                <td>{{ event.nbrParticipants }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_event_index') }}">back to list</a>

    <a href="{{ path('app_event_edit', {'idEvent': event.idEvent}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
