{% extends 'base_back.html.twig' %} {% block title %}Salle index{% endblock %}
{% block body %}
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-612">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Salle Table</h5>

            <!-- Active Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    <a
                      href="{{
                        path('app_salle_index', { sort: 'nbreSalle' })
                      }}"
                    >
                      Nbre_salle {% if app.request.query.get('sort') ==
                      'nbreSalle' %} {% if app.request.query.get('direction') ==
                      'desc' %}
                      <i class="fas fa-sort-down"></i>
                      {% else %}
                      <i class="fas fa-sort-up"></i>
                      {% endif %} {% else %}
                      <i class="fas fa-sort"></i>
                      {% endif %}
                    </a>
                  </th>
                  <th>Type_stuff</th>
                  <th>Cin_stuff</th>
                  <th>show</th>
                  <th>edit</th>
                </tr>
              </thead>
              <tbody>
                {% for salle in salles %} {% if not
                app.request.query.get('nbreSalle') or salle.nbreSalle ==
                app.request.query.get('nbreSalle') %}
                <tr>
                  <td>{{ salle.nbreSalle }}</td>
                  <td>{{ salle.typeStuff }}</td>
                  <td>{{ salle.cinStuff }}</td>
                  <td>
                    <a
                      class="btn btn-success"
                      href="{{
                        path('app_salle_show', { nbre_salle: salle.nbreSalle })
                      }}"
                      >show</a
                    >
                  </td>
                  <td>
                    <a
                      class="btn btn-danger"
                      href="{{
                        path('app_salle_edit', { nbre_salle: salle.nbreSalle })
                      }}"
                      >edit</a
                    >
                  </td>
                </tr>
                {% endif %} {% else %}
                <tr>
                  <td colspan="5">no records found</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <a href="{{ path('app_salle_new') }}">Create new</a>
            <form action="{{ path('app_salle_index') }}" method="get">
              <button type="submit" name="sort_by_nbre_salle" value="1">
                Trier
              </button>
              <a href="{{ path('app_salle_index') }}">return</a>
            </form>
            <!-- End Active Table -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
