<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

		<link rel="stylesheet" href="{{asset('assets2/css/bootstrap.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/animate.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/line-awesome.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/owl.carousel.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/owl.theme.default.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/meanmenu.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/magnific-popup.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/flaticon.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/odometer.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/style.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/dark.css')}}"/>

		<link rel="stylesheet" href="{{asset('assets2/css/responsive.css')}}"/>
		<title>Ajol</title>

		<link rel="icon" type="image/png" href="{{asset('assets2/img/favicon.png')}}"/>
	</head>

	<header class="header-area fixed-top">

		<div class="navbar-area">
			<div class="main-responsive-nav">
				<div class="container">
					<div class="main-responsive-menu">
						<div class="logo">
							<a href="index.html">
								<img src="{{asset('assets2/img/logo-black.png')}}" class="main-logo" alt="image"/>
								<img src="{{asset('assets2/img/logo.png')}}" class="white-logo" alt="image"/>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="main-navbar">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="index.html">
							<img src="{{asset('assets2/img/logo.png')}}" alt="image"/>
						</a>
						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="display: block">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a href="#" class="nav-link bb-1px">
										Home
										<i class="las la-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="index.html" class="nav-link">
												Home One
											</a>
										</li>
										<li class="nav-item">
											<a href="index-2.html" class="nav-link">
												Home Two
											</a>
										</li>
										<li class="nav-item">
											<a href="index-3.html" class="nav-link">
												Home Three
											</a>
										</li>
										<li class="nav-item">
											<a href="index-4.html" class="nav-link">
												Home Four
											</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="about.html" class="nav-link bb-1px">
										About Us
									</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link bb-1px active">
										Pages
										<i class="las la-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="about.html" class="nav-link">
												About
											</a>
										</li>
										<li class="nav-item">
											<a href="team.html" class="nav-link">
												Team
											</a>
										</li>
										<li class="nav-item">
											<a href="faq.html" class="nav-link">
												FAQ
											</a>
										</li>
										<li class="nav-item">
											<a href="gallery.html" class="nav-link active">
												Gallery
											</a>
										</li>
										<li class="nav-item">
											<a href="testimonials.html" class="nav-link">
												Testimonials
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												User
												<i class="las la-angle-down"></i>
											</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="sign-in.html" class="nav-link">
														Sign In
													</a>
												</li>
												<li class="nav-item">
													<a href="sign-up.html" class="nav-link">
														Sign Up
													</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="terms-condition.html" class="nav-link">
												Terms &amp; Conditions
											</a>
										</li>
										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">
												Privacy Policy
											</a>
										</li>
										<li class="nav-item">
											<a href="error-404.html" class="nav-link">
												Error Page
											</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link bb-1px">
										Services
										<i class="las la-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="services.html" class="nav-link">
												Services
											</a>
										</li>
										<li class="nav-item">
											<a href="services-details.html" class="nav-link">
												Services Details
											</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link bb-1px">
										Case Study
										<i class="las la-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="case-study.html" class="nav-link">
												Case Study
											</a>
										</li>
										<li class="nav-item">
											<a href="case-study-details.html" class="nav-link">
												Case Study Details
											</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link bb-1px">
										Blog
										<i class="las la-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog.html" class="nav-link">
												Blog
											</a>
										</li>
										<li class="nav-item">
											<a href="blog-details.html" class="nav-link">
												Blog Details
											</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="contact.html" class="nav-link bb-1px">
										Contact
									</a>
								</li>
							</ul>
							<div class="others-option d-flex align-items-center">
								<div class="option-item">
									<div class="support">
										<i class="las la-headset"></i>
										<p>Contact For Support</p>
										<a href="tel:098765434321">0987 6543 4321</a>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="search-overlay">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="search-overlay-layer"></div>
				<div class="search-overlay-layer"></div>
				<div class="search-overlay-layer"></div>
				<div class="search-overlay-close">
					<span class="search-overlay-close-line"></span>
					<span class="search-overlay-close-line"></span>
				</div>
				<div class="search-overlay-form">
					<form>
						<input type="text" class="input-search" placeholder="Search here...">
						<button type="submit">
							<i class="las la-search"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="page-banner-area bg-2">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-content">
						<h2>Event</h2>
						<ul>
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>Event</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% block body %}{% endblock %}


	<div class="footer-area">
		<div class="container">
			<div class="footer-contant pt-100 pb-70">
				<div class="row">
					<div class="col-lg-4 col-sm-7">
						<div class="footer-widget">
							<img src="{{asset('assets2/img/logo.png')}}" alt="Logo">
							<p>The dedication and the charity work of volunteers from organizations are doing worldwide cannot be underestimated. We cooperateed.</p>
							<ul class="social-link">
								<li>
									<a href="#" target="_blank">
										<i class="lab la-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="lab la-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="lab la-youtube"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="lab la-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-5 col-sm-7">
						<div class="footer-widget">
							<h3>Quick Links</h3>
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<ul class="widget-list">
										<li>
											<i class="las la-angle-right"></i>
											<a href="about.html">About Us</a>
										</li>
										<li>
											<i class="las la-angle-right"></i>
											<a href="#">Vision &amp; Values</a>
										</li>
										<li>
											<i class="las la-angle-right"></i>
											<a href="#">Awards</a>
										</li>
										<li>
											<i class="las la-angle-right"></i>
											<a href="services.html">Services</a>
										</li>
										<li>
											<i class="las la-angle-right"></i>
											<a href="#">Careers</a>
										</li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6">
									<ul class="widget-list">
										<li>
											<i class="las la-angle-right"></i>
											<a href="about.html">Media</a>
										</li>
										<li>
											<i class="las la-angle-right"></i>
											<a href="blog-2.html">News &amp; Blog</a>
										</li>
										<li>
											<i class="las la-angle-right"></i>
											<a href="#">Features</a>
										</li>
										<li>
											<i class="las la-angle-right"></i>
											<a href="terms-condition.html">Terms &amp; Condition</a>
										</li>
										<li>
											<i class="las la-angle-right"></i>
											<a href="#">Others</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-5">
						<div class="footer-widget">
							<h3>Contact Info</h3>
							<ul class="contact-info">
								<li>
									<i class="las la-map-marker-alt"></i>
									6B, Helventica street, Jordan
								</li>
								<li>
									<i class="las la-phone"></i>
									<a href="tel:098765434321">0987 6543 4321</a>
								</li>
								<li>
									<i class="las la-envelope"></i>
									<a href="ajol%40info.html">ajol@info.com</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<p>Copyright @2022 Ajol. All Rights Reserved
					<a href="https://hibootstrap.com/">HiBootstrap</a>
				</p>
			</div>
		</div>
	</div>

	<script src="{{asset('assets2/js/jquery.min.js')}}"></script>
	<script src="{{asset('assets2/js/bootstrap.bundle.min.js')}}"></script>

	<script src="{{asset('assets2/js/meanmenu.min.js')}}"></script>

	<script src="{{asset('assets2/js/jquery.magnific-popup.min.js')}}"></script>

	<script src="{{asset('assets2/js/owl.carousel.min.js')}}"></script>

	<script src="{{asset('assets2/js/odometer.min.js')}}"></script>

	<script src="{{asset('assets2/js/jquery.appear.js')}}"></script>

	<script src="{{asset('assets2/js/form-validator.min.js')}}"></script>

	<script src="{{asset('assets2/js/contact-form-script.js')}}"></script>

	<script src="{{asset('assets2/js/jquery.ajaxchimp.min.js')}}"></script>

	<script src="{{asset('assets2/js/custom.js')}}"></script>
</html>
